[submodule "Drivers/px4_drv"]
	path = Drivers/px4_drv
	url = ../px4_drv.git
[submodule "EDCB/EDCB"]
	path = EDCB/EDCB
	url = ../EDCB.git
[submodule "EDCB/libaribb25"]
	path = EDCB/libaribb25
	url = ../libaribb25.git
[submodule "TVTest/CasProcessor"]
	path = TVTest/CasProcessor
	url = ../CasProcessor.git
[submodule "TVTest/TvCas"]
	path = TVTest/TvCas
	url = ../TvCas.git
[submodule "TVTest/TVTest"]
	path = TVTest/TVTest
	url = ../TVTest.git
[submodule "extra/LibISDB"]
	path = extra/LibISDB
	url = ../LibISDB.git
[submodule "fdk-aac"]
	path = fdk-aac
	url = ../fdk-aac.git
[submodule "EDCB/lua"]
	path = EDCB/lua
	url = ../lua.git
[submodule "EDCB/lua-zlib"]
	path = EDCB/lua-zlib
	url = ../lua-zlib.git
[submodule "EDCB/Write_Multi"]
	path = EDCB/Write_Multi
	url = ../Write_Multi.git
[submodule "EDCB/psisiarc"]
	path = EDCB/psisiarc
	url = ../psisiarc.git
[submodule "EDCB/tsmemseg"]
	path = EDCB/tsmemseg
	url = ../tsmemseg.git
