[submodule "CasProcessor"]
	path = TVTest/CasProcessor
	url = ../CasProcessor.git
[submodule "EDCB"]
	path = EDCB/EDCB
	url = ../EDCB.git
[submodule "LibISDB"]
	path = Extra/LibISDB
	url = ../LibISDB.git
[submodule "TvCas"]
	path = TVTest/TvCas
	url = ../TvCas.git
[submodule "TVTest"]
	path = TVTest/TVTest
	url = ../TVTest.git
[submodule "fdk-aac"]
	path = fdk-aac
	url = ../fdk-aac.git
[submodule "px4_drv"]
	path = px4_drv
	url = ../px4_drv.git
